h1,
h2 {
  font-family: Lato;
}

body {
  color: aliceblue;
}

.parent {
  width: 600px;
  height: 200vh;
  background-color: blue;
  margin-top: 1rem;
}
.child {
  width: 300px;
  height: 50px;
  margin: 1rem;
}
.child1 {
  /* position: relative;
  left: 3rem;
  top: 2rem; */

  background-color: red;
  /* position: absolute; */
  /* position: fixed; */
  /* position: sticky;
  top: 0; */
}
.child2 {
  background-color: rgb(2, 150, 34);
}
.child3 {
  background-color: rgb(238, 11, 170);
}
